body
{
	background-color			:	#eee;
}

#container
{
	width						:	800px;
	height						:	600px;
	margin						:	-300px 0 0 -400px;
}

.centered
{
	position					:	absolute;
	top							:	50%;
	left						:	50%;
}

#spiroCanvasDiv
{
	display						:	block;
	width						:	800px;
	height						:	300px;
	background-image			:	url('images/spiroCanvasN.png');
}

#spiroCanvasDiv:hover
{
	background-image			:	url('images/spiroCanvasP.png');
}

#ticTacToeDiv
{
	display						:	block;
	width						:	800px;
	height						:	300px;
	background-image			:	url('images/ZicZacZoeN.png');
}

#ticTacToeDiv:hover
{
	background-image			:	url('images/ZicZacZoeP.png');
}
